<h1> User's Form </h1>
<ul>
	<% if user_signed_in? %>
	<li>
		<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
	</li>
	<li>
		<%= link_to 'Current User email' %>
	</li>
	<li>
		<%= link_to 'Edit Account', edit_user_registration_path %>
	</li>
	<% else %>
	<li>
		<%= link_to 'Sign In', new_user_session_path %>
	</li>
	<li>
		<%= link_to 'Sign Up', new_user_registraion_path %>
	</li>
	<% end %>
</ul>
